In [4]:
a=10
b=20
c=a
d=10

In [5]:
print a

10

In [6]:
print c

10

In [7]:
a=100

In [8]:
print a

100

In [9]:
# mutable: list,dictionaries,arrays,dataframes
#immutable: int,float,complex,string,tuple

In [10]:
a=10
b=20
c=a
d=10
print id(a),id(b),id(c),id(d)

10891424 10891184 10891424 10891424

In [11]:
print a

10

In [12]:
print c

10

In [13]:
print d

10

In [14]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3 = l1
l4=[1,2,3,4]
print id(l1),id(l2),id(l3),id(l4)

140644690198472 140644566135080 140644690198472 140644566136736

In [15]:
a=100
c=200
d=400

In [16]:
print id(a)

10893248

In [17]:
print a,c,d

100 200 400

In [18]:
l1

[1, 2, 3, 4]

In [19]:
l3

[1, 2, 3, 4]

In [20]:
l4

[1, 2, 3, 4]

In [21]:
l4.append(5)

In [22]:
l4

[1, 2, 3, 4, 5]

In [23]:
print id(l4)

140644566136736

In [24]:
l1

[1, 2, 3, 4]

In [25]:
l1.append(6)

In [26]:
l1

[1, 2, 3, 4, 6]

In [27]:
l3

[1, 2, 3, 4, 6]

In [28]:
l4

[1, 2, 3, 4, 5]

In [29]:
print id(l1)

140644690198472

In [30]:
d={1:2,3:4,5:6,77:8}

In [31]:
d.has_key(3)

True

In [32]:
print 3 in d.keys()

True

In [33]:
a=10

In [34]:
print type(a)

<type 'int'>

In [35]:
c="python"
print type(c)

<type 'str'>

In [36]:
a=10

In [37]:
a="str123"

In [38]:
a=10

In [39]:
print a

10

In [40]:
print type(a)

<type 'int'>

In [41]:
a="str123"
print a
print type(a)

str123
<type 'str'>

In [42]:
a=[1,2,3,4,5]
print a
print type(a)

[1, 2, 3, 4, 5]
<type 'list'>

In [43]:
import matplotlib.pyplot as plt
plt.plot([10,20,30,-4,5,6,7])
plt.show()

In [44]:
import pandas as pd
data = pd.read_csv('data.csv')
print data.salary.mean()

28912.3870968

In [45]:
data[data['salary'] < data.salary.mean()]

    id    name  salary address
0    1   name1    1234     ad1
1    2   name2    4567     ad2
2    3   name3    8910     ad1
4    5   name5    1235     ad2
5    6   name6    4568     ad3
6    7   name7    8911     ad2
8    9   name9    1236     ad3
9   10  name10    4569     ad4
10  11  name11    8912     ad3
12  13  name13    1237     ad4
13  14  name14    4570     ad5
14  15  name15    8913     ad4
16  17  name17    1238     ad5
17  18  name18    4571     ad6
18  19  name19    8914     ad5
20  21  name21    1239     ad6
21  22  name22    4572     ad7
22  23  name23    8915     ad6
24  25  name25    1240     ad7
25  26  name26    4573     ad8
26  27  name27    8916     ad7
28  29  name29    1241     ad8
29  30  name30    4574     ad9
30  31  name31    8917     ad8

In [46]:
data.plot()
plt.show()

In [49]:
a=10
b=20
c=30
print a+b
print a-b
print a*b
print "div=",a/b
print a%2
print a**2

30
-10
200
div= 0
0
100

In [50]:
print 10/20

0

In [51]:
print 10.0/20

0.5

In [52]:
a=10
b=20
print a/b

0

In [53]:
print a.0/b

SyntaxError: invalid syntax (<ipython-input-53-3ed08f715539>, line 1)

In [54]:
print float(a)

10.0

In [55]:
print float(a/b) # 0 0.0 0.5

0.0

In [56]:
float(0)

0.0

In [57]:
print float(a)/b

0.5

In [58]:
float(a)

10.0

In [59]:
print a,b

10 20

In [60]:
print b/a

2

In [61]:
print b/float(a)

2.0

In [63]:
a+b

30

In [64]:
a+"str1"

TypeError: unsupported operand type(s) for +: 'int' and 'str'